
<div nz-row>
  <div nz-col [nzXs]="{ span: 18, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">

  </div>
  <div nz-col [nzXs]="{ span: 18, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">

  </div>
  <div nz-col [nzXs]="{ span: 18, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
    <button nz-button [nzType]="'primary'" (click)="createComponentModal()"><span>Registrar Equipo</span></button>
  </div>
</div>
<app-inventario-table [listOfData]="listDataTable" [listOfColumn]= "listOfColumn"></app-inventario-table>
