   <form *ngIf="stateForm" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Codigo</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="codigo" placeholder="codigo" type="text" />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            El codigo es requerido!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzLg]="5" nzRequired>Descripcion</nz-form-label>
      <nz-form-control [nzLg]="5" nzErrorTip="Ingrese la descripcion!" >
        <textarea formControlName="descripcionTipoProcedimiento" nz-input rows="2" placeholder="descripcion"></textarea>s
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Agregar Equipo</button>
      </nz-form-control>
    </nz-form-item>
  </form>
